@if(article) {
<article class="flex flex-col justify-between h-full bg-white border-gray-200 border-2 p-6 shadow">
    <h1 class="text-4xl my-3">{{article.title}}</h1>
    <h4 class="text-xl my-3">{{article.subtitle}}</h4>
    <figure class="self-center my-3">
        <img class="max-w-full h-auto" src="{{article.imageUrl}}" alt="{{article.imageCaption}}"
            (click)="showImage(article.imageUrl)">
        <figcaption class="italic text-center">{{article.imageCaption}}</figcaption>
    </figure>
    @if(!isDetail) {
    <p class="text-justify my-3">
        {{article.content | shortenContent : 250 | capitalize}}
    </p>
    <p class="py-2">
        <button [ngClass]="[currentButtonConfig.bgClass, 'text-white font-bold py-2 px-4 rounded']"
            (click)="detail(article.id)">
            Read more
        </button>
    </p>
    } @else {
    <p class="text-justify my-3">
        {{article.content | capitalize}}
    </p>
    <p class="py-2">
        <button [ngClass]="[currentButtonConfig.bgClass, 'text-white font-bold py-2 px-4 rounded']" (click)="goBack()">
            Go Back
        </button>
    </p>
    }

    <div class="py-2">
        <label class="block mb-2">Select Color:</label>
        <select [(ngModel)]="color" class="border rounded p-2">
            @for (option of colorOptions; track option) {
            <option [value]="option">{{option.charAt(0).toUpperCase() + option.slice(1)}}</option>
            }
        </select>
    </div>

    <div class="py-2">
        <label class="inline-flex items-center">
            <input type="checkbox" [(ngModel)]="showSecondDiv" class="form-checkbox h-5 w-5 text-orange-500">
            <span class="ml-2">Show/Hide Author and Publish Date</span>
        </label>
    </div>

    @if(showSecondDiv) {
    <footer class="italic uppercase py-2">
        <p>Author: {{article.author}}, Published: {{article.publishDate}}</p>
    </footer>
    }
</article>
}