@if(article) {
<article class="flex flex-col justify-between h-full bg-white border-gray-200 border-2 p-6 shadow">
    <h1 class="text-4xl my-3">{{article.title}}</h1>
    <h4 class="text-xl my-3">{{article.subtitle}}</h4>
    <figure class="self-center my-3">
        <img class="max-w-full h-auto" src="{{article.imageUrl}}" alt="{{article.imageCaption}}"
            (click)="showImage(article.imageUrl)">
        <figcaption class="italic text-center">{{article.imageCaption}}</figcaption>
    </figure>
    @if(!isDetail) {
    <p class="text-justify my-3">
        {{article.content | shortenContent : 250 | capitalize}}
    </p>
    <p class="py-2">
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
            (click)="detail(article.id)">Read more</button>
    </p>
    } @else {
    <p class="text-justify my-3">
        {{article.content | capitalize}}
    </p>
    <p class="py-2">
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" (click)="goBack()">Go
            Back</button>
    </p>
    }
    <p>
        <input type="checkbox" [(ngModel)]="showParagraph" />
        Show/Hide the paragraph below
    </p>
    <p *ngIf="showParagraph" class="py-2">
        This is a conditional paragraph that appears or disappears based on the checkbox status.
    </p>
    <footer class="italic uppercase py-2">
        <p>Author: {{article.author}}, Published: {{article.publishDate}}</p>
    </footer>
</article>
}